.artist-card {
    margin: 100px;
    width: 350px;
    height: 400px;
  
    .artist-avatar {
      display: table;
      height: 200px;
      width: 320px;
      margin: 0;
      border-radius: 0%;
  
      h2 {
        color: white;
        margin: auto;
        text-align: center;
      }
    }
  
    mat-card-actions {
      text-align: right;
    }
  }
  